// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Türkçe (Türkiye) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_TRK)
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
#pragma code_page(1254)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FORE                ICON                    "Fore.ico"

IDI_FORE_SM             ICON                    "Fore_sm.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_FOREST              BITMAP                  "Forest.bmp"

IDB_GOLFBALL            BITMAP                  "GolfBall.bmp"

IDB_GRASS2              BITMAP                  "Bitmaps\\grass1.bmp"

IDB_GRASS3              BITMAP                  "Bitmaps\\grass2.bmp"

IDB_GRASS4              BITMAP                  "Bitmaps\\grass3.bmp"

IDB_GRASS5              BITMAP                  "Bitmaps\\grass4.bmp"

IDB_HORSE               BITMAP                  "Bitmaps\\horse1.bmp"

IDB_LAKE                BITMAP                  "Bitmaps\\lake.bmp"

IDB_GRASS_EMPTY1        BITMAP                  "Bitmaps\\terrain.bmp"

IDB_GRASS_EMPTY2        BITMAP                  "Bitmaps\\terrain2.bmp"

IDB_TREE                BITMAP                  "Bitmaps\\tree.bmp"

IDB_WARRIORR            BITMAP                  "Bitmaps\\warriorR.bmp"

IDB_GRASS1              BITMAP                  "Bitmaps\\bitmap12.bmp"

IDB_WALL1               BITMAP                  "Bitmaps\\bitmap1.bmp"

IDB_SELECT              BITMAP                  "Bitmaps\\bitmap3.bmp"

IDB_GATHERERL           BITMAP                  "Bitmaps\\femaleL.bmp"

IDB_LIVELY              BITMAP                  "bitmaps\\bitmap4.bmp"

IDB_GATHERERR           BITMAP                  "Bitmaps\\femaleR.bmp"

IDB_WARRIORL            BITMAP                  "Bitmaps\\warriorL.bmp"

IDB_WARRIORMOUNTEDR     BITMAP                  "Bitmaps\\warriorRH.bmp"

IDB_TARGET              BITMAP                  "Bitmaps\\target.bmp"

IDB_WARRIOR_LA1         BITMAP                  "Bitmaps\\warriorL-A1.bmp"

IDB_WARRIOR_LA2         BITMAP                  "Bitmaps\\warriorL-A2 .bmp"

IDB_WARRIOR_LW1         BITMAP                  "Bitmaps\\warriorL-W1.bmp"

IDB_WARRIOR_LW2         BITMAP                  "Bitmaps\\warriorL-W2.bmp"

IDB_WARRIOR_RA1         BITMAP                  "Bitmaps\\warriorR-A1.bmp"

IDB_WARRIOR_RA2         BITMAP                  "Bitmaps\\warriorR-A2.bmp"

IDB_WARRIOR_RW1         BITMAP                  "Bitmaps\\warriorR-W1.bmp"

IDB_WARRIOR_RW2         BITMAP                  "Bitmaps\\warriorR-W2.bmp"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Türkçe (Türkiye) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

